:root {
    --primary-color: #49a0eb;
  }
  .Login {
    margin: auto;
    min-width: 200px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .Login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .form-inp {
    width: 17rem;
    margin: 7px 0;
    border: 1px solid transparent;
    border-color: gray;
  
    padding: 10px 4px;
  }
  .form-inp::placeholder {
    font-weight: 500;
    color: #96a0b5;
  }
  .form-inp input:focus {
    border: 1px solid #3a5cd1;
  }
  
  .button-container-button {
    padding: 8px 15px;
    margin: 1rem;
    display: inline-block;
  
    font-weight: 800;
    font-size: 20px;
    border: none;
    border-radius: 1rem;
    color: black;
    font-family: "roboto";
  }
  .primary-button {
    background-color: var(--primary-color);
    width: 95%;
  }
  .form-btn:hover {
    background-color: #6078eb;
    color: white;
    transition: all ease-out 0.4s;
  }
  .user-settings {
    width: 18rem;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }
  .user-settings a {
    text-decoration: none;
    font-size: 18px;
  }
  .remember-box label {
    font-size: 18px;
  }
  .login-form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .login-form-input label {
    font-size: 18px;
  }
  #remember-checkbox {
    padding: 0;
    margin: 0;
  }
  .wrapper-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }